<div class="jumbotron">
    <h1>My Skills</h1>
    <p class="lead">Here is the list of the skills which i have.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Work Experience</h2>
    </div>
    <div class="col-md-4">
        <h2>Education</h2>
    </div>
    <div class="col-md-4">
        <h2>Languages</h2>
    </div>
</div>
