<div id="skills" class="jumbotron w3-flat-wet-asphalt row">
    <h1 class="col-md-12"><i class="fas fa-code"></i> Skills</h1>
    <div class="mySlider" style="width: 90%;margin-bottom: 0 !important; margin-left: 5%;margin-right: 5%;"></div>
</div>
<div class="row">
    <div class="col-md-4" id="exp">
        <ul class="w3-ul ">
            <li><h2><i class="fas fa-briefcase"></i> Work Experience</h2></li>
        </ul>
    </div>
    <div class="col-md-4" id="edu">
        <ul class="w3-ul ">
            <li><h2><i class="fas fa-user-graduate"></i> Education</h2></li>
        </ul>
    </div>
    <div class="col-md-4" id="lang">
        <ul class="w3-ul ">
            <li><h2><i class="fas fa-language"></i> Languages</h2></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="fav">
        <ul class="w3-ul">
            <li><h2><i class="fas fa-heart"></i> Interests</h2></li>
        </ul>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $.getJSON("/api/languages/1", function (data) {
                $.each(data, function (i, field) {
                    $("#lang ul").append(
                        '<li>' +
                        '<table class="w3-table">' +
                        '<tr>' +
                        '<td style="width:85px;">' +
                        field.name +
                        '</td>' +
                        '<td>' +
                        '<div class="w3-flat-midnight-blue w3-round-xlarge">' +
                        '<div class="w3-win8-green w3-round-xlarge" style="height:16px;width:' +
                        field.currentValue * 20 + '%"></div>' +
                        '</div>' +
                        '</td>' +
                        '</tr>' +
                        '</table>' +
                        '</li>');
                });
            });

            $.getJSON("/api/skills/1", function (data) {
                $.each(data, function (i, field) {
                    $("#skills .mySlider").append(
                        '<div class="w3-flat-wet-asphalt card" style="border:none;">' +
                        '<div class="card-body" style="margin-bottom:1%;">' +
                        '<div class="card-title" style="font-size:14px;">' +
                        field.name +
                        '</div>' +
                        '<div class="w3-flat-midnight-blue w3-round-xlarge">' +
                        '<div class="w3-win8-green w3-round-xlarge" style="height:10px;width:' +
                        field.currentValue + '%"></div>' +
                        '</div>' +
                        '</div>' +
                        '</div>');
                });
            });

            $.getJSON("/api/interests/1", function (data) {
                $.each(data, function (i, field) {
                    var id = "'N" + i + "'";
                    $("#fav ul").append(
                        '<li>' +
                        '<button onclick="myFunction(' +
                        id +
                        ')" class="w3-btn w3-block w3-flat-wet-asphalt w3-left-align">' +
                        field.name +
                        '</button>' +
                        '<div id="N' +
                        i +
                        '" class="w3-container w3-hide">' +
                        '<p></p>' +
                        '</div>' +
                        '</li>');
                });
            });


            $.getJSON("/api/education/1", function (data) {
                $.each(data, function (i, field) {
                    $("#edu ul").append(
                        '<li>' +
                        '<table class="w3-table">' +
                        '<tr>' +
                        '<td style="font-size:12px; padding-bottom:0px;">' +
                        '<i class="fas fa-graduation-cap"></i> ' + field.degree +
                        '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td style="font-size:14px;">' +
                        '<i class="fas fa-university"></i> ' + field.university +
                        '</td>' +
                        '</tr>' +
                        '</table>' +
                        '</li>');
                });
            });

            $.getJSON("/api/workExperiences/1", function (data) {
                $.each(data, function (i, field) {
                    $("#exp ul").append(
                        '<li>' +
                        '<table class="w3-table">' +
                        '<tr>' +
                        '<td style="font-size:14px;">' +
                        '<i class="fas fa-tasks"></i> ' + 'Web Developer' +
                        '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td style="font-size:12px;">' +
                        '<i class="fas fa-building"></i> ' + field.company +
                        '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td style="font-size:10px;">' +
                        '<i class="fas fa-calendar-alt"></i> ' + '2013-2015' +
                        '</td>' +
                        '</tr>' +
                        '</table>' +
                        '</li>');
                });
            });
        });

        function myFunction(id) {
            var x = document.getElementById(id);
            if (id == 'N0') {
                x.innerHTML = "Machine learning is a method of data analysis that automates analytical model building. It is a branch of artificial intelligence based on the idea that systems can learn from data, identify patterns and make decisions with minimal human intervention.";
            } else if (id == 'N1') {
                x.innerHTML = "In computer science, Artificial intelligence (AI), sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans and other animals.";
            } else if (id == 'N2') {
                x.innerHTML = "Video game development is the process of creating a video game. The effort is undertaken by a game developer, who may range from a single person to an international team dispersed across the globe.";
            } else if (id == 'N3') {
                x.innerHTML = "Web design encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design; interface design; authoring, including standardised code and proprietary software; user experience design; and search engine optimization.";
            }

            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace("w3-flat-wet-asphalt", "w3-win8-green");
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace("w3-win8-green", "w3-flat-wet-asphalt");
            }
        }

    </script>
    @Scripts.Render("~/scripts/slick/slick.min.js")
    @Scripts.Render("~/Scripts/mySliderScript.js")
}
