@model IEnumerable<Amirhossein_Khabbaz.Models.Person>

@{
    ViewBag.Title = "Persons";
}

<h2 class ="haveMarginTop">Persons</h2>
@Html.ActionLink("New Person", "New", "Persons", null, new { @class = "btn btn-primary" })
<table>
    <thead>
        <tr>
            <th>Person</th>
            <th>Work Experiences</th>
            <th>Skills</th>
            <th>Education</th>
            <th>Interests</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(person.Name, "Edit", "Persons", new { id = person.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>