@model IEnumerable<Amirhossein_Khabbaz.Models.Person>

@{
    ViewBag.Title = "Persons";
}

<h2 class="haveMarginTop">Persons</h2>
@Html.ActionLink("New Person", "New", "Persons", null, new { @class = "btn btn-primary" })
<div class="w3-responsive haveMarginTop">
    <table id="persons" Class="w3-table w3-bordered ">
        <thead>
        <tr>
            <th><i class="fas fa-user-alt"></i> Person</th>
            <th><i class="fas fa-briefcase"></i> Work Experiences</th>
            <th><i class="fas fa-trophy"></i> Skills</th>
            <th><i class="fas fa-graduation-cap"></i> Education</th>
            <th><i class="fas fa-heart"></i> Interests</th>
            <th><i class="fas fa-language"></i> Languages</th>
            <th><i class="fa fa-window-close"></i> Remove</th>
        </tr>
        </thead>
        <tbody>
       
        </tbody>
    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#persons").DataTable({
                ajax: {
                    url: "/api/persons/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, person) {
                            return "<a href='/persons/edit/" + person.id + "'>" + person.name + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, person) {
                            return "<a href='/WorkExperiences/index/" + person.id + "'>" + "Edit" + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, person) {
                            return "<a href='/Skills/index/" + person.id + "'>" + "Edit" + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, person) {
                            return "<a href='/Education/index/" + person.id + "'>" + "Edit" + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, person) {
                            return "<a href='/Interests/index/" + person.id + "'>" + "Edit" + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, person) {
                            return "<a href='/Languages/index/" + person.id + "'>" + "Edit" + "</a>";
                        }
                    },

                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='w3-button w3-circle w3-small w3-padding-small w3-red js-delete' data-person-id=" + data + ">" +
                                "<i class='fa fa-close'></i>" +
                                "</button>";
                        }
                    }
                ]
            });

            $("#persons ").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this person?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/persons/" + button.attr("data-person-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}